---
http_interactions:
- request:
    method: post
    uri: https://sandboxapi.fitbank.com.br/main/execute/GenerateCollectionOrder
    body:
      encoding: UTF-8
      string: '{"Method":"GenerateCollectionOrder","PartnerId":1012,"BusinessUnitId":1526,"Identifier":"985ad9a5-a66d-4c45-84fe-e0db75be5e18","CollectionOrderType":0,"PrincipalValue":10.0,"InterestPercent":0,"FinePercent":0,"FineDate":"2023-02-02","DueDate":"2023-02-02","ExpirationDate":"2023-02-03","Payer":{"Name":"Test
        Payer","BirthDate":"2000-01-01","Occupation":"dev","Nationality":"Brasileiro","Country":"Brasil","PayerContactInfo":{"Mail":"test@test.com","Phone":"88999999999"},"PayerAccountInfo":{"TaxNumber":"88899988811"}},"Customer":{"Name":"Latam","CustomerAccountInfo":{"PixKey":"33630661000150","PixKeyType":1,"TaxNumber":"33630661000150"}}}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Success":"true","DocumentNumber":586,"Message":"ISI0485 - Collection
        Order Generated"}'
  recorded_at: Thu, 02 Feb 2023 10:20:19 GMT
recorded_with: VCR 6.0.0
