---
http_interactions:
- request:
    method: post
    uri: https://sandboxapi.fitbank.com.br/main/execute/GetCollectionOrder
    body:
      encoding: UTF-8
      string: '{"Method":"GetCollectionOrder","PartnerId":1012,"BusinessUnitId":1526,"DocumentNumber":"376"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Success":"true","CollectionOrderList":[{"CollectionOrderType":0,"DocumentNumber":376,"Identifier":"2f1be0cc-3ed9-4677-ad11-a53b12aab4ef","Reason":null,"StatusDescription":"Criado","PrincipalValue":10.00,"PaymentDate":"2023-01-25","CustomerName":"
        Latam","CustomerTaxNumber":"33630661000150","ReceiverName":null,"ReceiverTaxNumber":null}]}'
  recorded_at: Wed, 25 Jan 2023 09:18:09 GMT
recorded_with: VCR 6.1.0
