---
http_interactions:
- request:
    method: post
    uri: https://sandboxapi.fitbank.com.br/main/execute/GeneratePaymentOrder
    body:
      encoding: UTF-8
      string: '{"Method":"GeneratePaymentOrder","PartnerId":1012,"BusinessUnitId":1526,"Value":50.0,"Identifier":"43bb93db-ddb0-4af1-80f0-26800bef990d","PaymentDate":"2022/12/15","Beneficiary":{"Name":"John
        Doe","AccountInfo":{"TaxNumber":"17774076050","Bank":"450","BankBranch":"0001","BankAccount":"182198382","BankAccountDigit":"5"}},"Payer":{"TaxNumber":"33630661000150","Bank":"450","BankBranch":"0001","BankAccount":"194013825","BankAccountDigit":"6"}}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Success":"true","DocumentNumber":12624,"Message":"ISI0412 - Payment
        order generated"}'
  recorded_at: Thu, 15 Dec 2022 13:12:26 GMT
recorded_with: VCR 6.1.0
