---
http_interactions:
- request:
    method: post
    uri: https://sandboxapi.fitbank.com.br/main/execute/GetPaymentOrder
    body:
      encoding: UTF-8
      string: '{"Method":"GetPaymentOrder","PartnerId":1012,"BusinessUnitId":1526,"PaymentOrderId":"12711"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Success":"true","PaymentOrderList":[{"PaymentOrderId":12711,"Name":"Carlos
        Eduardo Furquim Bezerra","TaxNumber":"03713592000187","Status":"Created","PaymentDate":"2022/12/20","Type":"PIX","Identifier":"dd8d1b6f-5c98-47c0-8017-dd48b46760a0","ReasonCode":null}]}'
  recorded_at: Tue, 20 Dec 2022 08:28:58 GMT
recorded_with: VCR 6.1.0
