---
http_interactions:
- request:
    method: post
    uri: https://sandboxapi.fitbank.com.br/main/execute/GetPaymentOrder
    body:
      encoding: UTF-8
      string: '{"Method":"GetPaymentOrder","PartnerId":1012,"BusinessUnitId":1526,"PaymentOrderId":"12624"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Success":"true","PaymentOrderList":[{"PaymentOrderId":12624,"Name":"Amarillys
        Teste Pix minha BU","TaxNumber":"17774076050","Status":"Created","PaymentDate":"2022/12/15","Type":"PIX","Identifier":"43bb93db-ddb0-4af1-80f0-26800bef990d","ReasonCode":null}]}'
  recorded_at: Fri, 16 Dec 2022 09:54:14 GMT
recorded_with: VCR 6.1.0
