---
http_interactions:
- request:
    method: post
    uri: https://sandboxapi.fitbank.com.br/main/execute/GeneratePaymentOrder
    body:
      encoding: UTF-8
      string: '{"Method":"GeneratePaymentOrder","PartnerId":1012,"BusinessUnitId":1526,"Value":50.0,"Identifier":"e9c9b6ae-e998-4d37-8e11-bff4755f4aaf","PaymentDate":"2022/12/20","Beneficiary":{"Name":"John
        Doe","AccountInfo":{"TaxNumber":"03713592000187","PixKey":"03713592000187"}},"Payer":{"TaxNumber":"33630661000150","Bank":"450","BankBranch":"0001","BankAccount":"194013825","BankAccountDigit":"6"}}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Success":"true","DocumentNumber":12710,"Message":"ISI0412 - Payment
        order generated"}'
  recorded_at: Tue, 20 Dec 2022 08:28:56 GMT
recorded_with: VCR 6.1.0
